<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="128">
		<setting label="30001" type="select" id="vb_3dmode" values="anaglyph|cyberscope|side-by-side|vli|hli" default="anaglyph"/>
		<setting label="30002" type="select" id="vb_anaglyph_preset" values="disabled|red &amp; blue|red &amp; cyan|red &amp; electric cyan|green &amp; magenta|yellow &amp; blue" default="disabled"/>
		<setting label="30006" type="select" id="vb_sidebyside_separation" values="0|4|8|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96|100|104|108|112|116|120|124|128|132|136|140|144|148|152|156|160|164|168|172|176|180|184|188|192|196|200|204|208|212|216|220|224|228|232|236|240|244|248|252|256" default="0"/>
		<setting label="30003" type="select" id="vb_color_mode" values="black &amp; red|black &amp; white|black &amp; blue|black &amp; cyan|black &amp; electric cyan|black &amp; green|black &amp; magenta|black &amp; yellow" default="black &amp; red"/>
		<setting label="30004" type="select" id="vb_right_analog_to_digital" values="disabled|enabled|invert x|invert y|invert both" default="disabled"/>
		<setting label="30005" type="select" id="vb_cpu_emulation" values="fast|accurate" default="fast"/>
	</category>
</settings>
